.react-tabs {
    padding: size('m') size('s');
}

.react-tabs__tab {
    padding-left: size('xl');
    padding-right: size('xl');
    color: $light;
}

@media screen and (max-width: 900px) {    
    .react-tabs__tab {
        padding-left: size('m');
        padding-right: size('m');
    }
}

.react-tabs__tab.react-tabs__tab--selected {
    color: $gray;
    background-color: $light;
    font-weight: bold;
}