p.price-data {
    margin-top: 0;
    font-size: 14px;
}

p.message {
    margin-top: 0;
    font-size: 14px;
    color: #C8CACC;
}

span.price {
    color: priceColor;
    font-weight: bold;
    filter: brightness(1.5);
}

span.price, span.average, span.threshold, span.seven-day-trend, span.thirty-day-trend, span.sixty-day-trend, span.ninety-day-trend {
    margin-right: 24px; 
}
