.grid-container {
    display: grid; 
    grid-gap: 8px; 
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "table chart";
}

.table-container {
    grid-area: table;
    border: 1px solid;
    border-color: gray;
}

.chart-container {
    grid-area: chart;
    background-color: rgb(0, 0, 0, 0.8);
    border: 1px solid;
    border-color: gray;
}
