.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.react-tabs__tab {
  font-size: 16px;
  color: #C8CACC;
}

.react-tabs__tab.react-tabs__tab--selected {
  color: #2A343D;
  background-color: #C8CACC;
  font-weight: bold;
}

span.price {
  color: priceColor;
  font-weight: bold;
  filter: brightness(1.5);
  margin-right: 24px;
}

span.average {
  margin-right: 24px;
}