.btn {
    display: inline-block;
    font-weight: 400;
    color: #e4e2ff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 6px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.btn:hover {
    cursor: pointer;
    color: #e4e2ff;
    text-decoration: none;
}
.btn:focus,
.btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(113, 76, 223, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(113, 76, 223, 0.25);
}
.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}
.btnPrimary {
    color: #fff;
    background-color: #714cdf;
    border-color: #714cdf;
}
.btnPrimary:hover {
    color: #fff;
    background-color: #572cd9;
    border-color: #5126d2;
}
.btnPrimary:focus,
.btnPrimary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(134, 103, 228, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(134, 103, 228, 0.5);
}
.btnPrimary.disabled,
.btnPrimary:disabled {
    color: #fff;
    background-color: #714cdf;
    border-color: #714cdf;
}
.btnPrimary:not(:disabled):not(.disabled):active,
.btnPrimary:not(:disabled):not(.disabled).active,
.show > .btnPrimary.dropdown-toggle {
    color: #fff;
    background-color: #5126d2;
    border-color: #4d24c8;
}
.btnPrimary:not(:disabled):not(.disabled):active:focus,
.btnPrimary:not(:disabled):not(.disabled).active:focus,
.show > .btnPrimary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(134, 103, 228, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(134, 103, 228, 0.5);
}
.btnSecondary {
    color: #fff;
    background-color: #16a4de;
    border-color: #16a4de;
}
.btnSecondary:hover {
    color: #fff;
    background-color: #138abb;
    border-color: #1182b0;
}
.btnSecondary:focus,
.btnSecondary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(57, 178, 227, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(57, 178, 227, 0.5);
}
.btnSecondary.disabled,
.btnSecondary:disabled {
    color: #fff;
    background-color: #16a4de;
    border-color: #16a4de;
}
.btnSecondary:not(:disabled):not(.disabled):active,
.btnSecondary:not(:disabled):not(.disabled).active,
.show > .btnSecondary.dropdown-toggle {
    color: #fff;
    background-color: #1182b0;
    border-color: #1079a4;
}
.btnSecondary:not(:disabled):not(.disabled):active:focus,
.btnSecondary:not(:disabled):not(.disabled).active:focus,
.show > .btnSecondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(57, 178, 227, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(57, 178, 227, 0.5);
}
.btnSuccess {
    color: #fff;
    background-color: #17b06b;
    border-color: #17b06b;
}
.btnSuccess:hover {
    color: #fff;
    background-color: #138e56;
    border-color: #118350;
}
.btnSuccess:focus,
.btnSuccess.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 188, 129, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(58, 188, 129, 0.5);
}
.btnSuccess.disabled,
.btnSuccess:disabled {
    color: #fff;
    background-color: #17b06b;
    border-color: #17b06b;
}
.btnSuccess:not(:disabled):not(.disabled):active,
.btnSuccess:not(:disabled):not(.disabled).active,
.show > .btnSuccess.dropdown-toggle {
    color: #fff;
    background-color: #118350;
    border-color: #107849;
}
.btnSuccess:not(:disabled):not(.disabled):active:focus,
.btnSuccess:not(:disabled):not(.disabled).active:focus,
.show > .btnSuccess.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 188, 129, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(58, 188, 129, 0.5);
}
.btnInfo {
    color: #fff;
    background-color: #2983fe;
    border-color: #2983fe;
}
.btnInfo:hover {
    color: #fff;
    background-color: #036dfe;
    border-color: #0167f3;
}
.btnInfo:focus,
.btnInfo.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(73, 150, 254, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(73, 150, 254, 0.5);
}
.btnInfo.disabled,
.btnInfo:disabled {
    color: #fff;
    background-color: #2983fe;
    border-color: #2983fe;
}
.btnInfo:not(:disabled):not(.disabled):active,
.btnInfo:not(:disabled):not(.disabled).active,
.show > .btnInfo.dropdown-toggle {
    color: #fff;
    background-color: #0167f3;
    border-color: #0162e6;
}
.btnInfo:not(:disabled):not(.disabled):active:focus,
.btnInfo:not(:disabled):not(.disabled).active:focus,
.show > .btnInfo.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(73, 150, 254, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(73, 150, 254, 0.5);
}
.btnWarning {
    color: #fff;
    background-color: #f97515;
    border-color: #f97515;
}
.btnWarning:hover {
    color: #fff;
    background-color: #e26206;
    border-color: #d65d05;
}
.btnWarning:focus,
.btnWarning.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 138, 56, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(250, 138, 56, 0.5);
}
.btnWarning.disabled,
.btnWarning:disabled {
    color: #fff;
    background-color: #f97515;
    border-color: #f97515;
}
.btnWarning:not(:disabled):not(.disabled):active,
.btnWarning:not(:disabled):not(.disabled).active,
.show > .btnWarning.dropdown-toggle {
    color: #fff;
    background-color: #d65d05;
    border-color: #c95805;
}
.btnWarning:not(:disabled):not(.disabled):active:focus,
.btnWarning:not(:disabled):not(.disabled).active:focus,
.show > .btnWarning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 138, 56, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(250, 138, 56, 0.5);
}
.btnDanger {
    color: #fff;
    background-color: #ff3c5c;
    border-color: #ff3c5c;
}
.btnDanger:hover {
    color: #fff;
    background-color: #ff163c;
    border-color: #ff0931;
}
.btnDanger:focus,
.btnDanger.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 89, 116, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 89, 116, 0.5);
}
.btnDanger.disabled,
.btnDanger:disabled {
    color: #fff;
    background-color: #ff3c5c;
    border-color: #ff3c5c;
}
.btnDanger:not(:disabled):not(.disabled):active,
.btnDanger:not(:disabled):not(.disabled).active,
.show > .btnDanger.dropdown-toggle {
    color: #fff;
    background-color: #ff0931;
    border-color: #fb0029;
}
.btnDanger:not(:disabled):not(.disabled):active:focus,
.btnDanger:not(:disabled):not(.disabled).active:focus,
.show > .btnDanger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 89, 116, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 89, 116, 0.5);
}
.btnLight {
    color: #0a0b14;
    background-color: #dbebfb;
    border-color: #dbebfb;
}
.btnLight:hover {
    color: #0a0b14;
    background-color: #b9d8f7;
    border-color: #add2f6;
}
.btnLight:focus,
.btnLight.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(188, 201, 216, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(188, 201, 216, 0.5);
}
.btnLight.disabled,
.btnLight:disabled {
    color: #0a0b14;
    background-color: #dbebfb;
    border-color: #dbebfb;
}
.btnLight:not(:disabled):not(.disabled):active,
.btnLight:not(:disabled):not(.disabled).active,
.show > .btnLight.dropdown-toggle {
    color: #0a0b14;
    background-color: #add2f6;
    border-color: #a2cbf5;
}
.btnLight:not(:disabled):not(.disabled):active:focus,
.btnLight:not(:disabled):not(.disabled).active:focus,
.show > .btnLight.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(188, 201, 216, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(188, 201, 216, 0.5);
}
.btnDark {
    color: #fff;
    background-color: #32334a;
    border-color: #32334a;
}
.btnDark:hover {
    color: #fff;
    background-color: #232333;
    border-color: #1d1e2c;
}
.btnDark:focus,
.btnDark.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(81, 82, 101, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(81, 82, 101, 0.5);
}
.btnDark.disabled,
.btnDark:disabled {
    color: #fff;
    background-color: #32334a;
    border-color: #32334a;
}
.btnDark:not(:disabled):not(.disabled):active,
.btnDark:not(:disabled):not(.disabled).active,
.show > .btnDark.dropdown-toggle {
    color: #fff;
    background-color: #1d1e2c;
    border-color: #181924;
}
.btnDark:not(:disabled):not(.disabled):active:focus,
.btnDark:not(:disabled):not(.disabled).active:focus,
.show > .btnDark.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(81, 82, 101, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(81, 82, 101, 0.5);
}
.btnOutlinePrimary {
    color: #714cdf;
    border-color: #714cdf;
}
.btnOutlinePrimary:hover {
    color: #fff;
    background-color: #714cdf;
    border-color: #714cdf;
}
.btnOutlinePrimary:focus,
.btnOutlinePrimary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(113, 76, 223, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(113, 76, 223, 0.5);
}
.btnOutlinePrimary.disabled,
.btnOutlinePrimary:disabled {
    color: #714cdf;
    background-color: transparent;
}
.btnOutlinePrimary:not(:disabled):not(.disabled):active,
.btnOutlinePrimary:not(:disabled):not(.disabled).active,
.show > .btnOutlinePrimary.dropdown-toggle {
    color: #fff;
    background-color: #714cdf;
    border-color: #714cdf;
}
.btnOutlinePrimary:not(:disabled):not(.disabled):active:focus,
.btnOutlinePrimary:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlinePrimary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(113, 76, 223, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(113, 76, 223, 0.5);
}
.btnOutlineSecondary {
    color: #16a4de;
    border-color: #16a4de;
}
.btnOutlineSecondary:hover {
    color: #fff;
    background-color: #16a4de;
    border-color: #16a4de;
}
.btnOutlineSecondary:focus,
.btnOutlineSecondary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(22, 164, 222, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(22, 164, 222, 0.5);
}
.btnOutlineSecondary.disabled,
.btnOutlineSecondary:disabled {
    color: #16a4de;
    background-color: transparent;
}
.btnOutlineSecondary:not(:disabled):not(.disabled):active,
.btnOutlineSecondary:not(:disabled):not(.disabled).active,
.show > .btnOutlineSecondary.dropdown-toggle {
    color: #fff;
    background-color: #16a4de;
    border-color: #16a4de;
}
.btnOutlineSecondary:not(:disabled):not(.disabled):active:focus,
.btnOutlineSecondary:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlineSecondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(22, 164, 222, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(22, 164, 222, 0.5);
}
.btnOutlineSuccess {
    color: #17b06b;
    border-color: #17b06b;
}
.btnOutlineSuccess:hover {
    color: #fff;
    background-color: #17b06b;
    border-color: #17b06b;
}
.btnOutlineSuccess:focus,
.btnOutlineSuccess.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 176, 107, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(23, 176, 107, 0.5);
}
.btnOutlineSuccess.disabled,
.btnOutlineSuccess:disabled {
    color: #17b06b;
    background-color: transparent;
}
.btnOutlineSuccess:not(:disabled):not(.disabled):active,
.btnOutlineSuccess:not(:disabled):not(.disabled).active,
.show > .btnOutlineSuccess.dropdown-toggle {
    color: #fff;
    background-color: #17b06b;
    border-color: #17b06b;
}
.btnOutlineSuccess:not(:disabled):not(.disabled):active:focus,
.btnOutlineSuccess:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlineSuccess.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 176, 107, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(23, 176, 107, 0.5);
}
.btnOutlineInfo {
    color: #2983fe;
    border-color: #2983fe;
}
.btnOutlineInfo:hover {
    color: #fff;
    background-color: #2983fe;
    border-color: #2983fe;
}
.btnOutlineInfo:focus,
.btnOutlineInfo.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 131, 254, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(41, 131, 254, 0.5);
}
.btnOutlineInfo.disabled,
.btnOutlineInfo:disabled {
    color: #2983fe;
    background-color: transparent;
}
.btnOutlineInfo:not(:disabled):not(.disabled):active,
.btnOutlineInfo:not(:disabled):not(.disabled).active,
.show > .btnOutlineInfo.dropdown-toggle {
    color: #fff;
    background-color: #2983fe;
    border-color: #2983fe;
}
.btnOutlineInfo:not(:disabled):not(.disabled):active:focus,
.btnOutlineInfo:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlineInfo.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 131, 254, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(41, 131, 254, 0.5);
}
.btnOutlineWarning {
    color: #f97515;
    border-color: #f97515;
}
.btnOutlineWarning:hover {
    color: #fff;
    background-color: #f97515;
    border-color: #f97515;
}
.btnOutlineWarning:focus,
.btnOutlineWarning.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(249, 117, 21, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(249, 117, 21, 0.5);
}
.btnOutlineWarning.disabled,
.btnOutlineWarning:disabled {
    color: #f97515;
    background-color: transparent;
}
.btnOutlineWarning:not(:disabled):not(.disabled):active,
.btnOutlineWarning:not(:disabled):not(.disabled).active,
.show > .btnOutlineWarning.dropdown-toggle {
    color: #fff;
    background-color: #f97515;
    border-color: #f97515;
}
.btnOutlineWarning:not(:disabled):not(.disabled):active:focus,
.btnOutlineWarning:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlineWarning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(249, 117, 21, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(249, 117, 21, 0.5);
}
.btnOutlineDanger {
    color: #ff3c5c;
    border-color: #ff3c5c;
}
.btnOutlineDanger:hover {
    color: #fff;
    background-color: #ff3c5c;
    border-color: #ff3c5c;
}
.btnOutlineDanger:focus,
.btnOutlineDanger.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 60, 92, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 60, 92, 0.5);
}
.btnOutlineDanger.disabled,
.btnOutlineDanger:disabled {
    color: #ff3c5c;
    background-color: transparent;
}
.btnOutlineDanger:not(:disabled):not(.disabled):active,
.btnOutlineDanger:not(:disabled):not(.disabled).active,
.show > .btnOutlineDanger.dropdown-toggle {
    color: #fff;
    background-color: #ff3c5c;
    border-color: #ff3c5c;
}
.btnOutlineDanger:not(:disabled):not(.disabled):active:focus,
.btnOutlineDanger:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlineDanger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 60, 92, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 60, 92, 0.5);
}
.btnOutlineLight {
    color: #dbebfb;
    border-color: #dbebfb;
}
.btnOutlineLight:hover {
    color: #0a0b14;
    background-color: #dbebfb;
    border-color: #dbebfb;
}
.btnOutlineLight:focus,
.btnOutlineLight.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(219, 235, 251, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(219, 235, 251, 0.5);
}
.btnOutlineLight.disabled,
.btnOutlineLight:disabled {
    color: #dbebfb;
    background-color: transparent;
}
.btnOutlineLight:not(:disabled):not(.disabled):active,
.btnOutlineLight:not(:disabled):not(.disabled).active,
.show > .btnOutlineLight.dropdown-toggle {
    color: #0a0b14;
    background-color: #dbebfb;
    border-color: #dbebfb;
}
.btnOutlineLight:not(:disabled):not(.disabled):active:focus,
.btnOutlineLight:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlineLight.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(219, 235, 251, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(219, 235, 251, 0.5);
}
.btnOutlineDark {
    color: #32334a;
    border-color: #32334a;
}
.btnOutlineDark:hover {
    color: #fff;
    background-color: #32334a;
    border-color: #32334a;
}
.btnOutlineDark:focus,
.btnOutlineDark.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(50, 51, 74, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(50, 51, 74, 0.5);
}
.btnOutlineDark.disabled,
.btnOutlineDark:disabled {
    color: #32334a;
    background-color: transparent;
}
.btnOutlineDark:not(:disabled):not(.disabled):active,
.btnOutlineDark:not(:disabled):not(.disabled).active,
.show > .btnOutlineDark.dropdown-toggle {
    color: #fff;
    background-color: #32334a;
    border-color: #32334a;
}
.btnOutlineDark:not(:disabled):not(.disabled):active:focus,
.btnOutlineDark:not(:disabled):not(.disabled).active:focus,
.show > .btnOutlineDark.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(50, 51, 74, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(50, 51, 74, 0.5);
}
.btnLink {
    font-weight: 400;
    color: #714cdf;
    text-decoration: none;
}
.btnLink:hover {
    color: #4922bd;
    text-decoration: underline;
}
.btnLink:focus,
.btnLink.focus {
    text-decoration: underline;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btnLink:disabled,
.btnLink.disabled {
    color: #1d1e2f;
    pointer-events: none;
}
.btnLg,
.btnGroupLg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 6px;
}
.btnSm,
.btnGroupSm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.btnBlock {
    display: block;
    width: 100%;
}
.btnBlock + .btnBlock {
    margin-top: 0.5rem;
}

.btnShadow {
    margin-left: 8px;
}
.btnShadow.btnPrimary,
.btnShadow.btnOutlinePrimary {
    border-color: #986edf;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btnShadow.btnPrimary,
.btnShadow.btnPrimary.focus,
.btnShadow.btnPrimary:focus,
.btnShadow.btnOutlinePrimary,
.btnShadow.btnOutlinePrimary.focus,
.btnShadow.btnOutlinePrimary:focus {
    -webkit-box-shadow: 3px 3px 0 #986edf, 2px 2px 0 #986edf, 1px 1px 0 #986edf;
    box-shadow: 3px 3px 0 #986edf, 2px 2px 0 #986edf, 1px 1px 0 #986edf;
}
.btnShadow.btnPrimary:hover,
.btnShadow.btnOutlinePrimary:hover {
    -webkit-box-shadow: 5px 5px 0 #986edf, 4px 4px 0 #986edf, 3px 3px 0 #986edf, 2px 2px 0 #986edf, 1px 1px 0 #986edf;
    box-shadow: 5px 5px 0 #986edf, 4px 4px 0 #986edf, 3px 3px 0 #986edf, 2px 2px 0 #986edf, 1px 1px 0 #986edf;
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btnShadow.btnPrimary:active,
.btnShadow.btnOutlinePrimary:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(4px, 4px) !important;
    -o-transform: translate(4px, 4px) !important;
    transform: translate(4px, 4px) !important;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.btnShadow.btnSecondary,
.btnShadow.btnOutlineSecondary {
    border-color: #87c4f2;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btnShadow.btnSecondary,
.btnShadow.btnSecondary.focus,
.btnShadow.btnSecondary:focus,
.btnShadow.btnOutlineSecondary,
.btnShadow.btnOutlineSecondary.focus,
.btnShadow.btnOutlineSecondary:focus {
    -webkit-box-shadow: 3px 3px 0 #87c4f2, 2px 2px 0 #87c4f2, 1px 1px 0 #87c4f2;
    box-shadow: 3px 3px 0 #87c4f2, 2px 2px 0 #87c4f2, 1px 1px 0 #87c4f2;
}
.btnShadow.btnSecondary:hover,
.btnShadow.btnOutlineSecondary:hover {
    -webkit-box-shadow: 5px 5px 0 #87c4f2, 4px 4px 0 #87c4f2, 3px 3px 0 #87c4f2, 2px 2px 0 #87c4f2, 1px 1px 0 #87c4f2;
    box-shadow: 5px 5px 0 #87c4f2, 4px 4px 0 #87c4f2, 3px 3px 0 #87c4f2, 2px 2px 0 #87c4f2, 1px 1px 0 #87c4f2;
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btnShadow.btnSecondary:active,
.btnShadow.btnOutlineSecondary:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(4px, 4px) !important;
    -o-transform: translate(4px, 4px) !important;
    transform: translate(4px, 4px) !important;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.btnShadow.btnSuccess,
.btnShadow.btnOutlineSuccess {
    border-color: #43cb8e;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btnShadow.btnSuccess,
.btnShadow.btnSuccess.focus,
.btnShadow.btnSuccess:focus,
.btnShadow.btnOutlineSuccess,
.btnShadow.btnOutlineSuccess.focus,
.btnShadow.btnOutlineSuccess:focus {
    -webkit-box-shadow: 3px 3px 0 #43cb8e, 2px 2px 0 #43cb8e, 1px 1px 0 #43cb8e;
    box-shadow: 3px 3px 0 #43cb8e, 2px 2px 0 #43cb8e, 1px 1px 0 #43cb8e;
}
.btnShadow.btnSuccess:hover,
.btnShadow.btnOutlineSuccess:hover {
    -webkit-box-shadow: 5px 5px 0 #43cb8e, 4px 4px 0 #43cb8e, 3px 3px 0 #43cb8e, 2px 2px 0 #43cb8e, 1px 1px 0 #43cb8e;
    box-shadow: 5px 5px 0 #43cb8e, 4px 4px 0 #43cb8e, 3px 3px 0 #43cb8e, 2px 2px 0 #43cb8e, 1px 1px 0 #43cb8e;
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btnShadow.btnSuccess:active,
.btnShadow.btnOutlineSuccess:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(4px, 4px) !important;
    -o-transform: translate(4px, 4px) !important;
    transform: translate(4px, 4px) !important;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.btnShadow.btnInfo,
.btnShadow.btnOutlineInfo {
    border-color: #25a8eb;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btnShadow.btnInfo,
.btnShadow.btnInfo.focus,
.btnShadow.btnInfo:focus,
.btnShadow.btnOutlineInfo,
.btnShadow.btnOutlineInfo.focus,
.btnShadow.btnOutlineInfo:focus {
    -webkit-box-shadow: 3px 3px 0 #25a8eb, 2px 2px 0 #25a8eb, 1px 1px 0 #25a8eb;
    box-shadow: 3px 3px 0 #25a8eb, 2px 2px 0 #25a8eb, 1px 1px 0 #25a8eb;
}
.btnShadow.btnInfo:hover,
.btnShadow.btnOutlineInfo:hover {
    -webkit-box-shadow: 5px 5px 0 #25a8eb, 4px 4px 0 #25a8eb, 3px 3px 0 #25a8eb, 2px 2px 0 #25a8eb, 1px 1px 0 #25a8eb;
    box-shadow: 5px 5px 0 #25a8eb, 4px 4px 0 #25a8eb, 3px 3px 0 #25a8eb, 2px 2px 0 #25a8eb, 1px 1px 0 #25a8eb;
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btnShadow.btnInfo:active,
.btnShadow.btnOutlineInfo:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(4px, 4px) !important;
    -o-transform: translate(4px, 4px) !important;
    transform: translate(4px, 4px) !important;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.btnShadow.btnWarning,
.btnShadow.btnOutlineWarning {
    border-color: #f99511;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btnShadow.btnWarning,
.btnShadow.btnWarning.focus,
.btnShadow.btnWarning:focus,
.btnShadow.btnOutlineWarning,
.btnShadow.btnOutlineWarning.focus,
.btnShadow.btnOutlineWarning:focus {
    -webkit-box-shadow: 3px 3px 0 #f99511, 2px 2px 0 #f99511, 1px 1px 0 #f99511;
    box-shadow: 3px 3px 0 #f99511, 2px 2px 0 #f99511, 1px 1px 0 #f99511;
}
.btnShadow.btnWarning:hover,
.btnShadow.btnOutlineWarning:hover {
    -webkit-box-shadow: 5px 5px 0 #f99511, 4px 4px 0 #f99511, 3px 3px 0 #f99511, 2px 2px 0 #f99511, 1px 1px 0 #f99511;
    box-shadow: 5px 5px 0 #f99511, 4px 4px 0 #f99511, 3px 3px 0 #f99511, 2px 2px 0 #f99511, 1px 1px 0 #f99511;
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btnShadow.btnWarning:active,
.btnShadow.btnOutlineWarning:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(4px, 4px) !important;
    -o-transform: translate(4px, 4px) !important;
    transform: translate(4px, 4px) !important;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.btnShadow.btnDanger,
.btnShadow.btnOutlineDanger {
    border-color: #ff707f;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btnShadow.btnDanger,
.btnShadow.btnDanger.focus,
.btnShadow.btnDanger:focus,
.btnShadow.btnOutlineDanger,
.btnShadow.btnOutlineDanger.focus,
.btnShadow.btnOutlineDanger:focus {
    -webkit-box-shadow: 3px 3px 0 #ff707f, 2px 2px 0 #ff707f, 1px 1px 0 #ff707f;
    box-shadow: 3px 3px 0 #ff707f, 2px 2px 0 #ff707f, 1px 1px 0 #ff707f;
}
.btnShadow.btnDanger:hover,
.btnShadow.btnOutlineDanger:hover {
    -webkit-box-shadow: 5px 5px 0 #ff707f, 4px 4px 0 #ff707f, 3px 3px 0 #ff707f, 2px 2px 0 #ff707f, 1px 1px 0 #ff707f;
    box-shadow: 5px 5px 0 #ff707f, 4px 4px 0 #ff707f, 3px 3px 0 #ff707f, 2px 2px 0 #ff707f, 1px 1px 0 #ff707f;
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btnShadow.btnDanger:active,
.btnShadow.btnOutlineDanger:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(4px, 4px) !important;
    -o-transform: translate(4px, 4px) !important;
    transform: translate(4px, 4px) !important;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.btnShadow.btnLight,
.btnShadow.btnOutlineLight {
    border-color: #9ea9b6;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btnShadow.btnLight,
.btnShadow.btnLight.focus,
.btnShadow.btnLight:focus,
.btnShadow.btnOutlineLight,
.btnShadow.btnOutlineLight.focus,
.btnShadow.btnOutlineLight:focus {
    -webkit-box-shadow: 3px 3px 0 #9ea9b6, 2px 2px 0 #9ea9b6, 1px 1px 0 #9ea9b6;
    box-shadow: 3px 3px 0 #9ea9b6, 2px 2px 0 #9ea9b6, 1px 1px 0 #9ea9b6;
}
.btnShadow.btnLight:hover,
.btnShadow.btnOutlineLight:hover {
    -webkit-box-shadow: 5px 5px 0 #9ea9b6, 4px 4px 0 #9ea9b6, 3px 3px 0 #9ea9b6, 2px 2px 0 #9ea9b6, 1px 1px 0 #9ea9b6;
    box-shadow: 5px 5px 0 #9ea9b6, 4px 4px 0 #9ea9b6, 3px 3px 0 #9ea9b6, 2px 2px 0 #9ea9b6, 1px 1px 0 #9ea9b6;
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btnShadow.btnLight:active,
.btnShadow.btnOutlineLight:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(4px, 4px) !important;
    -o-transform: translate(4px, 4px) !important;
    transform: translate(4px, 4px) !important;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.btnShadow.btnDark,
.btnShadow.btnOutlineDark {
    border-color: #191a2d;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.btnShadow.btnDark,
.btnShadow.btnDark.focus,
.btnShadow.btnDark:focus,
.btnShadow.btnOutlineDark,
.btnShadow.btnOutlineDark.focus,
.btnShadow.btnOutlineDark:focus {
    -webkit-box-shadow: 3px 3px 0 #191a2d, 2px 2px 0 #191a2d, 1px 1px 0 #191a2d;
    box-shadow: 3px 3px 0 #191a2d, 2px 2px 0 #191a2d, 1px 1px 0 #191a2d;
}
.btnShadow.btnDark:hover,
.btnShadow.btnOutlineDark:hover {
    -webkit-box-shadow: 5px 5px 0 #191a2d, 4px 4px 0 #191a2d, 3px 3px 0 #191a2d, 2px 2px 0 #191a2d, 1px 1px 0 #191a2d;
    box-shadow: 5px 5px 0 #191a2d, 4px 4px 0 #191a2d, 3px 3px 0 #191a2d, 2px 2px 0 #191a2d, 1px 1px 0 #191a2d;
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btnShadow.btnDark:active,
.btnShadow.btnOutlineDark:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(4px, 4px) !important;
    -o-transform: translate(4px, 4px) !important;
    transform: translate(4px, 4px) !important;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.btnShadow.btnPrimary:hover,
.btnShadow.btnOutlinePrimary:hover {
    background-color: #714cdf;
}
.btnShadow.btnSecondary:hover,
.btnShadow.btnOutlineSecondary:hover {
    background-color: #16a4de;
}
.btnShadow.btnSuccess:hover,
.btnShadow.btnOutlineSuccess:hover {
    background-color: #17b06b;
}
.btnShadow.btnInfo:hover,
.btnShadow.btnOutlineInfo:hover {
    background-color: #2983fe;
}
.btnShadow.btnWarning:hover,
.btnShadow.btnOutlineWarning:hover {
    background-color: #f97515;
}
.btnShadow.btnDanger:hover,
.btnShadow.btnOutlineDanger:hover {
    background-color: #ff3c5c;
}
.btnShadow.btnLight:hover,
.btnShadow.btnOutlineLight:hover {
    background-color: #dbebfb;
}
.btnShadow.btnDark:hover,
.btnShadow.btnOutlineDark:hover {
    background-color: #32334a;
}
